body {
	margin: 0;
	color: #000;
	background: #fff;
	font: 14px/24px Georgia, serif;
	padding: 60px 70px 100px 70px;
}

/*a {
	color: #000;
	text-decoration: none;
}*/

.logo {
	text-align: center;
}

.wrapper {
	width: 1063px;
	margin: 0 auto;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav__list li {
	display: inline-block;
	padding: 60px  80px;
	text-transform: uppercase;
	font: 14px "Times New Roman", serif;
}

.nav__list a {
	color: #626262;
	text-decoration: none;
}

.nav__list a:hover {
	color: red;

}

.nav__list a:active {
	color: green;
}

h1 {


}
footer.footer {
	height: 99px
	background-color: #f0f0f0;
}